@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Puppies+Play&display=swap');

@import "./styles/ui.css";
@import "./styles/components.css";
@import "./styles/pages.css";

:root {
  ---background-color: #ffff;
  --primary-color: #bf722f;
  --secondary: #b85d13;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.select {
  max-width: 250px;
  width: 100%;
}

.select span{
  display: block;
  color: white;
  margin-bottom: 10px;
}
.selected {
  border: 1px solid white;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.options {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  display: none;
  background-color: var(---background-color);
}

.options.active {
  display: block;
}
.options .option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: all 0.5s ease;
}

.options .option:hover {
  background-color: var(--primary-color);
  color: white;
}

/* auth  */
.auth,
.address {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.auth-image,
.address-map {
  width: 60%;
  height: 100%;
}

.auth-image img,
.address-map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-form,
.address-form {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.auth-form #title,
.address-form #title {
  font-size: 4rem;
  color: var(--secondary);
}

.auth-form #auth-nav {
  display: block;
  margin-top: 10px;
}
.auth-form a {
  text-decoration: none;
  color: var(--secondary);
}

#heading {
  font-size: 4rem;
  text-align: center;
  color: var(--primary-color);
  /* margin-top: 40px; */
}

@media (max-width: 850px) {
  .auth,
  .address {
    flex-direction: column;
  }

  .auth-image,
  .auth-form,
  .address-map,
  .address-form {
    width: 100%;
    height: 50%;
  }

  #container{
    padding: 20px;
  }
}

#form-holder{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
@media (max-width: 600px) {
  .auth,
  .address {
    flex-direction: column;
  }

  .auth-image,
  .address-map {
    width: 100%;
    height: 40%;
  }

  .auth-form,
  .address-form {
    width: 100%;
    height: 60%;
    padding: 10px 20px;
  }

  .auth-form #title,
  .address-form #title {
    font-size: 2.5rem;
  }
}

#container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

#banner-image {
  width: 100%;
  overflow: hidden;
}

#banner-image img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
}
