#navbar {
  width: 100%;
  height: 80px;
  position: relative;
}

nav {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo{
  font-family: "Puppies Play";
  font-style: italic;
  font-size: 2rem;
  font-weight: 600;
}

nav #logo{
  color: var(--primary-color);
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

nav ul div {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
nav ul a {
  text-decoration: none;
  color: black;
  transition: all ease 0.5s;
}

nav ul a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 2rem;
}

/* ---------------- Mobile Menu ---------------- */
#menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -450%; /* hidden above screen */
  width: 95%;
  backdrop-filter: blur(35px);
  flex-direction: column;
  padding: 20px;
  gap: 25px;
  transition: 0.4s ease-in-out;
  background: var(--primary-color);
  z-index: 100;
  padding: 20px;
  border-radius: 10px;
}

#menu.open {
  top: 80px; /* visible below navbar */
}

/* tile styles */
.tile {
  width: 300px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.tile .number {
  font-weight: 800;
  font-size: 4rem;
  color: white;
}

.tile .text {
  color: lightgrey;
}


/* footer */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
        color: white;
}

#footer-header{
    padding: 20px;
    background-color:var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul{
    margin-top: 20px;
    display: flex;
    list-style: none;
    gap: 20px;
}

footer ul a{
    text-decoration: none;
        color: white;
}
#footer-bottom{
    padding: 20px;
    text-align: center;
    background-color: var(--secondary);
}


/* card component */
.card{
  width: 280px;
  height: auto;
}

.card img{
  width: 280px;
  height: 280px;
  border-radius: 10px;
}

.card .card-heading{
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;

}

.price-holder{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-holder .pet-category{
  color: grey;
}

.price-holder .price{
  font-size: 1.5rem;
  font-weight: 600;
}

.btn-holder{
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
    gap: 15px;
}

/* remove it */
button{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: var(--primary-color);
  color: white;

}

button:nth-child(1){
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
@media (max-width: 850px) {
  nav {
    padding: 20px;
  }
  .hideonmobile {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #menu {
    display: flex;
  }

  nav ul a {
    text-decoration: none;
    color: white;
  }
}
