form{
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgray;
}

input:focus{
    outline: none;
    border: 2px solid var(--primary-color);
}

form button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--secondary);
    color: white;
    cursor: pointer;
}

form button:hover{
    background-color: var(--primary-color);
}

textarea{
    border: 1px solid lightgray;
    height: 100px;
    border-radius: 10px;
    resize: none;
    padding: 10px;
}